/* Обращение ко всему подряд (зеленое обрамление для всех эл-тов)
	* { border:1px solid green; } 
 
	Применяется ко всем абзацам, являющимся подчиненными для того элемента, у которого имеется идентификатор со значением boxout, 
и только в том случае, если они не являются непосредственными дочерними элементами (внук..правнук)
*/
#boxout * p {border:1px solid green; } 


/*<p><b>Hello</b> there</p> */
p b { color:red; } 

p > b { color:red; } ко всем абзацам, являющимся подчиненными для того элемента, у которого имеется идентификатор со значением boxout, и только в том случае, если они не являются непосредственными дочерними элементами
/* Обращение к элементам id -------------------------------------------------------------------------------------------
 Обращение только к элементу с данным id (емли есть 2 одинаковых-применится к первому) 
	Первая форма:
	 [id="idname"] ;
	 Вторая форма
	 #idname

	Чтобы применилось к обоим
	span#myid { text-decoration:underline; } 
	div#myid  { text-decoration:underline; }
	или
	span#myid,div#myid { text-decoration:underline; }

*/
#myid { font-style:italic; color:blue; }



/* Обращение к классам------------------------------------------------------------------------------------------------------- 
	Первая форма
	[class~="classname"] (Оператор ~= определяет соответствие атрибуту, даже если он входит в группу атрибутов, разделенных запятыми)
	Вторая форма
	.classname
*/
.myclass{  font-style:italic; color:red;  }

/*	Сужение применение класса 
	<p class="main"> Получит изменение
*/
p.myclass { text-indent:30px; }

/*	Селектор атрибутов --------------------------------------------------------------------------------------------------------
	
*/

[type="submit"] { width:100px; }  

/* ОГРАНИЧЕНИЕ ДЕЙСТВИЯ*/
form input[type="submit"] { width:100px; }

/*Групповая селекция*/
p, #idname, .classname { border-bottom:1px dotted orange; }

/* Приорететность
--Существует три разных способа выбора стилизуемых элементов. 
	В порядке убывания приоритетности их список имеет такой вид. 
	1. Обращение по индивидуальному идентификатору или селектор атрибутов. 
	2. Обращение в группах по классу. 
	3. Обращение по тегам элементов
		Создается массив = [a,b,c]
		[3,2,2]:
		#heading #main #menu .text .quote p span {  // Здесь размещаются правила; } 
		[2,3,2]:
		#heading #main .text .quote .news p span {  // Здесь размещаются правила; } 
		
		Исходя из этого: Первый пример сильнее [3,2,2];

--!important
	Правило, позволяющеене переписывать св-во (указав значение-оно останется) 
	p { color:#ff0000 !important; } 
	p { color:#ffff00 } 

*/

/*	Единицы измерения
		Пиксел (pixel) 		.classname { margin:5px; }

		Эм (em) 					.classname { font-size:2em; }  Равен текущему размеру шрифта (ширине латинской буквы m)
		Экс (ex) 					.classname { width:20ex; }   	 Также относится к текущему размеру шрифта (для малой x)
		Процент (%) 			.classname { height:120%; } 	 Если 1 em эквивалентен текущему размеру шрифта, в процентах тот же размер выражается цифрой 100. 
		
		Дюйм (inch) 			.classname { width:3in; } 
		Пункт (point) 		.classname { font-size:14pt; } = 1/72 дюйма
		Пика (pica) 			.classname { font-size:1pc; }  = 12 пунктам 
		Сантиметр 				.classname { height:2cm; } 
		Миллиметр					.classname { font-size:5mm; } 

*/

/*
---Выравнивание текста
 		по левому краю — left 
 		по правому краю — right
 		по центру — center 
 		по ширине содержимого — justify.

		p { text-align:justify; } 

---Отступы
		Задаем абзац на 20 px
		p { text-indent:20px; }

*/

/* Псевдоклассы-------------------------------------------------------------------------------------------------------
		Вся информация:  http://tinyurl.com/pseudoclasses.

		Отделяются через : 
*/
		.bigfirst:first-letter {  font-size:400%;  float    :left; } 
		.bigline:first-line  {  font-size:400%;  float    :left; } 

		a:link    { color:blue;} 
		a:visited { color:lightblue; } 

		a:hover {  color :white;  background:red; }
	
  /* В период между нажатием кнопки и тем, как ее отпускаешь */
		a:active { color:darkblue; }
	/*
			focus,  применяется, только когда элемент получает фокус путем выбора его пользователем с помощью клавиатуры или мыши. 
			
			Shift+Tab Для фокуса
	*/
		*:focus { border:2px dotted #888888; } 


/* 
Установка всех полей шириной 1 пиксел 
margin:1px;
 Установка верхнего и нижнего полей шириной 1 пиксел,   а левого и правого — 2 пиксела 
 margin:1px 2px;
 Установка верхнего поля шириной 1 пиксел, левого и правого — 2 пиксела   и нижнего — 3 пиксела 
margin:1px 2px 3px;
 Установка верхнего поля шириной 1 пиксел, правого — 2, нижнего — 3   и левого — 4 пиксела 
margin:1px 2px 3px 4px;		

Такой же принцип: 
border-width (Рамка)
padding (Отступ)

*/ 